form{
    background-color: rgba(0, 0, 255, 0.555);
    margin-left: 200px;
    margin-right: 500px;
    height: 700px;
}
.a{
    margin: 5px;
    font-size: small;
    color: white;
    
}
#tt, #th, th, #tm, #ta, #tb, #tc{
    border: 1px solid rgba(0, 0, 255, 0.171);
    border-collapse: collapse;
    
} 
.td1{
    background-color: white;
}
#sub1, #sub2{
    color: black;
}