body
{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
 background: linear-gradient(white, #a0b6f8c9);
}
#main
{
 width:100%;
 background-color:#4c66a4;
}
#header
{
 width:980px;
 margin:0px auto;
 padding:0px;
 height:98px;
}
#header li
{
    list-style-type:none;
    float:left;
    text-align:left;
    color:white;
}
#header #main_page
{
 margin-top:25px;
}
#header #main_page a
{
 color:white;
 text-decoration:none;
 font-size:40px;
 font-weight:1000;
}
#header section
{
 margin-top:15px;
 float:right;
}
#header section li
{
 font-size:13px;
 margin-left:15px;
}
#header section li a
{
 color:#A9BCF5;
 text-decoration:none;
}

#header section input[type="text"],#header section input[type="password"]
{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 border:1px solid #08298A;
 height:20px;
 padding-left:3px;
}
#header section input[type="submit"]
{
 height:25px;
 margin-top:20px;
 background-color:#084B8A;
 color:white;
 border:1px solid #08298A;
}
#content
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:980px;
}
#content div
{
 float:left;
}
#content #main1
{
 margin-top:30px;
 width:590px;
 text-align:left;
}

#content #main1 p
{
 font-size:20px;
 
 font-weight:bold;
 margin:0px;
 color:#0e385f;
}
#content #main2
{
 margin-top:10px;
 width:390px;
 text-align:left;
}
#content #main2 h1
{
 margin:0px;
 font-size:37px;
 color:#2E2E2E;
}


#content #main2 p
{
 font-size:18px;
 color:#2E2E2E;
}
#content #main2 li
{
 list-style:none;
 margin-top:10px;
}
#content #main2 li #firstname
{
 width:44%;
}
#content #main2 li #surname
{
 margin-left:2%;
 width:45%;
}


#content #main2 li input[type="text"],#content #main2 li input[type="password"]
{
 width:95%;
 height:40px;
 border-radius:5px;
 padding-left:10px;
 font-size:18px;
 border:1px solid #BDBDBD;
}


/* #content #main2 li select
{
 padding:4px;
 float:left;
} */


#content #main2 li a
{
 margin-left:10px;
 width:150px;
 color:#045FB4;
 text-decoration:none;
 font-size:11px;

 vertical-align: middle;
 line-height:15px;
}
#content #main2 li a:hover
{
 text-decoration:underline;
}
#content #main2 li
{
 color:#2E2E2E;
 font-size:18px;
}


#content #main2 #terms
{
 color:#424242;
 font-size:11px;
}
#content #main2 #terms a
{
 display:inline;
 margin:0px;
}
#content #main2 li input[type="submit"]
{
 width:205px;
 height:45px;
 text-align:center;
 font-size:19px;
 margin-top: 10px;
 margin-bottom: 25px;
 font-weight: bold !important;
 background: #7de251;
 background-color: #69a74e;
 border-color: #69a74e;
 border: 1px solid #69a74e;;
 border-radius: 5px;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: relative;
 
}



#content #main2 #info
{
 color:#424242;
 font-size:13px;
 font-weight:bold;
}
#content #main2 #info
{
 display:inline;
 margin:0px;
 font-size:13px;
 
}
footer{
    width:100%;
    float:left;
    margin-top:30px;
    background-color:white;
    text-align:left;
}

 #lang{
    margin-top: 50px;
    margin-left: 170px;
}
#lang a{
    text-decoration: none;
    margin: 5px;
}
#lang a:hover{
    text-decoration: underline;
}

hr{
    margin-left: 170px;
    margin-right: 150px;
}
footer #short{
    margin-left: 170px;
    
}
footer #short a{
    margin: 5px;
    text-decoration: none;
}

footer #short a:hover{
    text-decoration: underline;
}
footer #copyright {
   margin-left: 170px;
   font-size: 13px;
}
